ion-card{
    margin: auto;
    width: 90%;
    margin-top: 2%;
    --background: white;
    

    img{
        width: 80%;

    }

    .pic{
        
        display: flex;
        justify-content: center;
        height: 70&;
    }
}

ion-content{
    

    .btn{
        
        display: flex;
        justify-content: center;

        ion-button{
            width: 80%;
            --background: #e44444;
        }
    }
}