<ion-header>
  <ion-toolbar style="--background: #06B380;">
    <ion-button slot="start" style="--background: #06B380;" fill="clear">
      <ion-menu-button color ="light" style="font-size: 30px;"></ion-menu-button>
    </ion-button>

    <ion-button slot="end" class="btn" routerLink="/home">
      Back
    </ion-button>

   <h3>Mathematics Course</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <h1 style="text-align: center; font-size: 20px;"><strong>
        General Mathematics
      </strong></h1><br>

      <h2><strong>
        Relation and Function
      </strong></h2><br>

      <p>
        A  <b><i>relation</i></b> is any set  of ordered pairs. The set of all  first elements of the ordered pairs is called the domain of the relation, and the set of all second elements is called the range. 
      </p>

      <p>
        A <b><i>function</i></b> is  a relation or rule of  correspondence between two elements (domain and range) such that each element in the domain corresponds to exactly one element in the range.
      </p>

      <p>
        To further understand function, lets study the following. Given the following ordered pairs, which relations are functions?
      </p>

      <div class="pic">
        <img src="./assets/Math/sample.png">
      </div>

      <p>
        You  are  right!  The  relations  A  and  B  are  functions  because  each  element  in  the domain corresponds to a unique element in the range. Meanwhile, relations C and D are not functions 
        because they contain ordered pairs with the same domain [C = (0,1) and (0,-1), D = (a,b) and (a,d)].
      </p>

      <p>
        How about from the given table of values, which relation shows a function?
      </p>

      <div class="pic">
        <img src="./assets/Math/sample1.png">
      </div>

      <p>
        That’s right! A and B are functions since all the values of x corresponds to exactly one value of y. Unlike table C, where -1 corresponds to two values, 4 and 1.
      </p>

      <p>
        We can also identify a function given a diagram.  On the following mapping diagrams, which do you think represent functions?
      </p>

      <div class="pic">
        <img src="./assets/Math/sample2.png">
      </div>

      <p>
        You are correct! The relations A and C are functions because each element in the domain corresponds to a unique element in the range. However, B is a mere relation and  not function 
        because there is  a domain which corresponds to  more than  one range.
      </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Functions as representations of real-life situations
      </strong></h2><br>

      <p>
        Functions can often be used to model real-life situations. Identifying an appropriate functional model will lead to a better understanding of various phenomena.<br>
        Let say, June is the domain and Mae is the range, when there is faithfulness in their marriage, there will be one-to-one relationship - one domain to one range.<br>
        Nationality could also illustrate a function. We expect that at least a person has one nationality.  Let say  Kim  is the  domain and her  nationality is  the  range,  therefore
        there is a one-to-one relationship. Since Kim was born and live in the Philippines, she can never have multiple nationalities except Filipino. (Remember: Under RA 9225 only those 
        naturally-born Filipinos who have become naturalized citizens of another country can have dual citizenship. This is not applicable to Kim since she was born in the Philippines 
        and never a citizen of other country.) <br> Religion is also an example of function because a person can never have two religions. Inside  the  classroom,  three  classmates  
        said  that  they  are  Catholic.  This  shows  a many-to-one relationship. Classmates being the domain and religion being the range indicate  that  different  values  of  domain  
        can  have  one  value  of  range.  One-to-one relationship  was  also  illustrated  by  the  classmates  who  said  that  they  are  Born Again, Muslim and Iglesia ni Cristo - one 
        student to one religion.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <h2><strong>
        Function Machine
      </strong></h2><br>

      <p>
        Function can be illustrated as a machine where there is the input and the output. When you put an object into a machine, you expect a  product as output after the process being done by 
        the machine. For example, when you put an orange fruit into a juicer, you expect an orange juice as the output and not a grape juice. Or you will never expect to have two kinds of juices 
        - orange and grapes.
      </p>

      <div class="pic">
        <img src="./assets/Math/functionMachine.png">
      </div>

      <p>
        You have learned that function can be represented by equation. Since output (y) is dependent on input (x), we can say that y is a function of x. For example, if a function machine always 
        adds three (3) to whatever you put in it. Therefore, we can derive an equation of x + 3 = y or f(x) = x+ 3 where f(x) = y.
      </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Piecewise Function
      </strong></h2><br>

      <p>
        There are functions that requires more than one formula in order to obtain the given output. There are instances when we need to describe situations in which a rule or relationship changes 
        as the input value crosses certain boundaries. In this case, we need to apply the piecewise function.
      </p>

      <p>
        A piecewise function is a function in which more than one formula is used to define the output. Each formula has its own domain, and the domain of the function is the union of all these smaller 
        domains. We notate this idea like this:
      </p>

      <div class="pic">
        <img src="./assets/Math/fx.png">
      </div>

      <p>
        Look at these examples!
      </p>

      <div class="pic">
        <img src="./assets/Math/ex.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/ex1.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/ex2.png">
      </div>


    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Interest, Maturity, Future, and Present Values in Simple Interest
      </strong></h2><br>

      <p>
        Read and analyze the situation below.
      </p>

      <p>
        Janice and Jamaica are both senior high school students after class the two had conversation:<br><br>
        Janice: <i>Wow, your cellphone is so cool! Is that new?</i><br><br> Jamaica: <i>Thank you! And yes, I just bought it yesterday.</i><br><br>Janice:  <i>Did  your  mother  gave  you  money?  What  will  you  do  
        with  your  old cellphone?</i><br><br> Jamaica: <i>No, I save up my allowance to accumulate enough money to buy this phone. I am still using my old phone. I will use my new phone for my social media accounts. </i><br><br>
        Janice: <i>How much is that?</i><br><br> Jamaica: <i>It is only ₱2,300 but it is already android so I can download different applications like Tiktok and Snapchat therefore I will not be bored!</i><br><br>
        Janice: <i>Oh! We are almost the same, I also save ₱2,300 already from my allowance </i><br><br> Jamaica: <i>What do you plan to buy from your savings?</i><br><br> Janice: <i>My old cellphone is still working, so I 
        think there is no need for me to buy a new one. It will be better if I save this money.</i><br><br> Jamaica: <i>But your money might get lost if you did not spend it?</i><br><br> Janice: <i>I saw an advertisement in Lucena 
        Cooperative Bank that the minimum amount to open an account for students is ₱2,000, and they call it Kid Savers.</i><br><br> Jamaica: <i>Is there an advantage if you put the money on the bank? </i>><br><br>
        Janice: <i>According to the advertisement there will be 2.5% interest in a year. I will use it when I go to college</i><br><br>
      </p>

      <p>
        From the previous conversation, you can say that one of the sources of funds of ordinary students is their allowance. A person always can decide on things they wanted  to  do  on  the  money  that  they  possess.  In  the  
        scenario,  you  saw  two different kinds of students. One who saves to be able to buy the things she wanted and the other one is saving for her future. In doing so she invested her money in a bank  that  earns interest.  
        In computing the  simple interest  and other related components, the formula is 
      </p>

      <div class="pic">
        <img src="./assets/Math/formula.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/formula1.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/formula2.png">
      </div>

      <p>
        Let us take the following for example:
      </p>

      <div class="pic">
        <img src="./assets/Math/example.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/example1.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/example2.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/example3.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/example4.png">
      </div>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        For you to begin considering the lesson on the previous module which is essential in  obtaining  success  in  this  lesson.  Compound  interest  is  not  like  a  simple interest wherein only the principal is considered in 
        the computation this type of interest considers the principal and the accumulated past interest. The frequency of conversion, nominal rate, and rate of interest for each conversion period will also play an important role in this lesson. 
      </p>

      <p>
        You also learned from the previous lesson that in getting the maturity value the formula 𝐹 = 𝐼𝑠+ 𝑃 will be used and in finding the principal or present value given the interest and maturity value the formula 𝑃 = 𝐹 − 𝐼𝑠 can be employed.
      </p>

      <div class="pic">
        <img src="./assets/Math/example5.png">
      </div>

      <p>
        Notice that there is a difference between the computation of Michael and the bank concerning the amount to be paid for the loan.  Michael used simple interest to find  the  amount  to  be  paid  for  the  loan  for  three  years.  
        However,  the  bank computes first the interest for the first year and added it to the amount of loan, then the resulting amount becomes the basis for computing the total amount to be paid  for  the  second year and  it follows  the 
        same pattern for  the  third  year. Interest plays a major role in computation because it became one of the factors in determining the amount to be paid for the succeeding years. In such a case, we  call  that  compound  interest.  To  
        gain  a  better  understanding  of  what compound interest is, the following formulas will be taken into consideration. To  find  the  compound  interest,  which  is  compounded  annually  the  formula  to find the maturity value is:
        𝐹 = 𝑃(1 + 𝑟)𝑡 where: F = maturity (future), value P = principal or present value, r = interest rate, t = term or time in years. <br><br> To find the compound interest use the formula: 𝐼𝑐= 𝐹 − 𝑃 where: 𝐼𝑐 = compound interest, P = principal or present
        value, F = maturity (future) value <br><br>To find the present value or principal of the maturity value F due in t years the formulas are: 𝑃 = 𝐹/(1 + 𝑟)^𝑡 or 𝑃 = 𝐹/(1 + 𝑟)^−𝑡
      </p>

      <div class="pic">
        <img src="./assets/Math/example6.png">
      </div>

      <div class="pic">
        <img src="./assets/Math/example7.png">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        <b>Compounding More Than Once a Year</b><br>In  the  examples  above  the  interest  are  compounded  annually,  however, there are cases that interest is compounded more than once a year so in this case additional terms must be clarified such as:
        <br><b>Frequency of conversion (m) -</b> number of conversion period in one year<br> <b>Conversion or interest period –</b> time between successive conversions of interest <br> <b>Total number of conversion periods (n)</b><br>
        n = mt = (frequency of conversion) 𝑥 (time in years)<br> <b>Nominal rate (𝒊𝒎) -</b> annual rate of interest<br> <b>Rate (j) of interest for each conversion period = </b> 𝑗 = 𝑖(𝑚)𝑚=𝑎𝑛𝑛𝑢𝑎𝑙 𝑟𝑎𝑡𝑒 𝑜𝑓 𝑖𝑛𝑡𝑒𝑟𝑒𝑠𝑡/𝑓𝑟𝑒𝑞𝑢𝑒𝑛𝑐𝑦 𝑜𝑓 𝑐𝑜𝑛𝑣𝑒𝑟𝑠𝑖𝑜𝑛
     </p>

     <div class="pic">
      <img src="./assets/Math/table.png">
    </div>

     <p>
      Since  the  rate  for  each  conversion  period  is  represented  by  j,  then  in  t  years, interest is compounded mt times. Thus, the formula of Maturity Value for interest compounding m times a year is:  𝐹 = 𝑃(1 + 𝑗)^𝑛 where: F = maturity value, P = present value
      j = 𝑖^(𝑚)/𝑚,  n = mt<br>Meanwhile, the formula in finding the present value given the maturity value is: 𝑃 = 𝐹/(1 + 𝑗)^𝑛 
     </p><br>

     <div class="pic">
      <img src="./assets/Math/example8.png">
    </div>

    <div class="pic">
      <img src="./assets/Math/example9.png">
    </div>

    <div class="pic">
      <img src="./assets/Math/example10.png">
    </div>
    </ion-card-content>
  </ion-card>

  <div class="btn1">
    <ion-button shape="round" routerLink="/math-quiz" >
      Les-Quiz!!
    </ion-button>
  </div>
</ion-content>
