<ion-header>
  <ion-toolbar>
    <ion-button slot="start" style="--background: #06B380;" fill="clear">
      <ion-menu-button color ="light"></ion-menu-button>
    </ion-button>
    <ion-title>About Us</ion-title>
    <ion-button slot="end" class="btn" routerLink="/home">
      Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card style="margin-top: 10%;">
    <ion-card-content>
      <h1>Lez-Quiz</h1>
      <p>
        Lez-Quiz is an online web-application that offers lessons and quizzes. The target user of the application is basically all the students
        of Senior High School. The application offers the four core sujects in school which is the English, Filipino, Science and Mathematics.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-top: 3%;">
    <ion-card-content>
      <h1>Group 5</h1>
      <p style="text-align: center; display: flex; justify-content: center;">
        Member:<br>
        Lance Gabrielle Carenan<br>
        Leo Franco Ebdane<br>
        Ramil Manalo<br>
        James Piolo Nocillado<br>
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>
