ion-card{
    --background: rgb(233, 227, 227);//#06B380;
    margin: auto;
 
    width: 80%;
    border-radius: 20px;
}

ion-card-title, ion-card-subtitle{
    color: black;
}
ion-item{
    --background: white;
    color: black;
}

ion-button{
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}


.btn{
    margin-bottom: 10px;
}

img {
    margin: auto;
    margin-top: 0;
    margin-bottom: -15%;
    display: flex;
    
}

