<ion-content>
  <div class="container">
    <form [formGroup]="form">
    
      <ion-card>
        <img src = "./assets/icon/lQ.png">
        <ion-card-header style="text-align: center;">
        <ion-card-title>Forgot Password</ion-card-title>
          <ion-card-subtitle>Please provide an email address</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="text" formControlName="email" name="email" [(ngModel)]="email"></ion-input>
          </ion-item>

          <app-error-message [field]="form.get('email')" error="required" message="Fill up the form"></app-error-message>
          <app-error-message [field]="form.get('email')" error="email" message="Email is Invalid"></app-error-message>

        </ion-card-content>
        
        <ion-button expand="block" shape="round" (click)="resetPassword()">
          Reset Password
        </ion-button>
        <ion-button class= "btn" expand="block" shape="round" routerLink="/login">
          Back
        </ion-button>
      </ion-card>
    </form>
  </div>
</ion-content>