<ion-header>
  <ion-toolbar style="--background: #06B380;">
    <ion-button slot="start" style="--background: #06B380;" fill="clear">
      <ion-menu-button color ="light" style="font-size: 30px;"></ion-menu-button>
    </ion-button>

    <ion-button slot="end" class="btn" routerLink="/home">
      Back
    </ion-button>

   <h3>English Course</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h1 style="text-align: center; font-size: 20px;"><strong>
       Oral Communication
      </strong></h1><br>

      <h2><strong>
        Nature of Communication
      </strong></h2><br>

      <p>
        Communication is a two-way process of connecting to both living and non-living things. It is also 
        a means of sharing and exchanging messages, information, ideas, and feelings for mutual understanding 
        (Gregoriom, J.C., 2015).
      </p>

      <p>
        Communication  connects  people  and  the  world  they  live  in.    It  is  through communication that 
        people are able to express their thoughts and ideas or convey information and messages through word of mouth, 
        gestures and signals, signs, and others.  People have always communicated with one another in various forms.
      </p>

      <p>
        <br>Let us further define communication using the two key terms stated above, “message” and “understand”.
      </p>

      <p>
        <b>1. Communication is a message understood.</b><br> Unless  a  message  is  understood,  we  cannot  say  that  
        communication  has taken place.  Let us send a message to someone and say, “where came first”.  The person who gets 
        this message would wonder what it means, for the arrangement of the words does not make any sense.   The message is sent 
        but the receiver does not understand it.  Therefore, for communication to take place, we have to consider two conditions. 
        First, there should be a clear message.  Second, the message must be understood by the receiver for whom it is meant.
      </p>

      <p>
        <b>2. Communication is social interaction through messages.</b><br> Think  of  someone  telling,  “It  is  very  warm  
        today.”  In  this  case,  we  are communicating what  ‘we  experience’.  The  weather  being  warm  is  what  we  feel or 
        experience physically. In this scenario, we are sharing our feeling or experience with someone else. Thus, we may say that 
        “communication is a sharing of experience.” In our society, we all interact with messages.  Without interactions, a society 
        cannot survive.  Social interaction is always through messages.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Communication Process 
      </strong></h2><br>

     <p>
        There are also times when we fail to communicate adequately and experience misunderstanding  or  
        miscommunication.    Why  do  you  think this  thing  happens?  What are the ways to avoid them?
      </p>
      <p>
        We  are  sometimes  misunderstood  by  the  level  of  speech  we  use  during conversation - 
        by the volume or rate we talk with friends or acquaintances.  We may sometimes be misunderstood 
        by the non-verbal actions that we project or incorporate in our speech when talking face-to-face 
        with people.  Also, when we send text or chat messages, we are misinterpreted because those messages 
        are often brief and devoid of emotion. 
      </p>
      <p>
        Let  us  now  try  to  consider  the  process  of  communication.    How  does communication take place?  
        Who are involved?  What processes are considered?  By understanding  the  communication  process,  we  
        can  also  duly  avoid misunderstandings and/or miscommunication.
      </p>
      <div class="pic">
        <img src="./assets/Eng/com_process.png">
      </div>
      <p>
        Our everyday transactions with people follow the communication process. As seen in the illustration, 
        communication begins when the speaker or source of communication <strong> responds to a stimulus </strong>and decides to <strong>encode</strong> 
        or transmit it in the  form  of  a  message  (or  a  “code”)  through  a  particular  channel  or  means  
        of communication.  
      </p>
      <p>
        The receiver <strong>decodes</strong> or interprets the message sent and responds accordingly based on his interpretation 
        of the message.  This response comes in the form of a <strong>feedback</strong>  sent  to  the  original  source  of  communication  
        (sender).  As  the communication transaction continues, the sender and receiver may exchange roles until understanding  
        is  achieved.   Barriers  to communication sometimes  block  the transmission of the message thereby creating misunderstanding.
      </p>
      <p>
        Through  this  process,  we  are  able  to  understand  that  communication  is systematic.  In the advent of technology, 
        the exchange of information and messages in society has advanced and has been a subject of many studies.
      </p>
        
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Functions of Communications
      </strong></h2><br>
      <p>
        Why do we communicate?   Since  communication  is  certain  in  our  lives,  it  comes  naturally  and unknowingly.  
        Communication serves many purposes. The following are some of the many reasons why we, humans, communicate:
      </p>
      <div class="pic">
        <img src="./assets/Eng/reason_whycom.png">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Communication Models
      </strong></h2><br>

      <p>
        Communicating with others takes us to a new experience. We are either the ones starting the conversation process or 
        the ones receiving it. As the exchange of information progresses, both the source and the recipient  go through  favorable 
        or unfavorable experiences. The two or more individuals involved may end up satisfied or discontented with the result. At 
        some random instances, conflicts may incidentally arise. But still, the end goal of communication is always for building better 
        human relationships.
      </p>

      <p>
        <strong>Models of Communication Process</strong><br>
        <strong>A. Linear Communication </strong>- Have you talked to somebody but did not get any reaction from him at all?  Have you experienced 
        sending a message without receiving any feedback?   This is linear communication. 
      </p>
      <p>
        <strong>Linear  communication</strong>  is  one-way,  focusing  on  the  transmission  of  a message  to  a  <i>receiver</i>  who  never  responds  or  has  no  way  
        of  responding  to  the information conveyed. For instance, a competition organizer is presenting the contest mechanics.  The message  is  final  
        and  cannot  be  contended at  all.  It  could be  the president  giving  his  State  of  the  Nation  Address  on  the  national  television  
        or  a student who reads a poem or tells a story in front of an audience in a school program.  Other examples include sending an email, reading a 
        blog, or even the traditional way of having letters sent.
      </p>

      <div class="pic">
        <img src="./assets/Eng/shannon.png">
      </div>

      <p>
        <strong>Shannon Weaver Model </strong> - An example of linear type of communication is the Shannon-Weaver model (1949). It is also considered as the mother of all communication models. It has a one-way  
        process  starting  from  a  <i>source</i>  (producer  of  message);  passing  through  a <i>channel </i>(signals  adapted  for transmission) which  may at  times  be interrupted 
        by <i>noise</i> (barrier) to a <i>receiver </i>(decoder of message from the signal). The process stops after the message has arrived at its <i>destination.</i>
      </p>

      <p>
        <strong>B. Interactive</strong>When was the last time someone surprised you?  How did you react?  Who was the last person whom you praised for a job well-done?  What response did you get?  What is the 
        significance of getting a response or reaction from the person to whom you addressed your statement?
      </p>

      <p>
        Interactive  approach  is  a  two-way  communication  process  where  a response is given after a message is sent.  The recipient of the action intentionally or unintentionally gives a <i>feedback</i> 
        associated with the information received.<br>
      </p>

      <div class="pic">
        <img src="./assets/Eng/criselda.png">
      </div>

      <div class="pic">
        <img src="./assets/Eng/schramm.png">
      </div>

      <p>
        <strong>Schramm Model -</strong> Schramm (1954) visualized the process of communication as an exchange of thoughts and ideas. <i>Feedback</i> was added to the Shannon-Weaver Model.   The <i>recipient</i>  of  the  
        message  decodes  it  and  creates  a  <i>feedback</i>  based  on  his understanding of the information sent and vice versa.
      </p>
      <p>
        The figure identifies the six elements of communication which are the <i>sender</i>, the <i>message</i> sent, the <i>receiver</i> and the <i>feedback</i> provided by the receiver and sent back as a response to the sender and the processes of 
        <i>encoding</i> and <i>decoding</i>
      </p>

      <p>
        Remember, information may become useless if it is not conveyed properly to others. Thus, the processes of encoding and decoding are the key components of this model, including feedback
      </p>

      <p>
        <i>Encoding</i>  is  when  an  idea  or  information  is  translated  into  words  and expressed to others. 
      </p>

      <p>
        <i>Decoding</i> is when this idea or information is understood and interpreted by the receiver.
      </p>

      <p>
        Hence, the receiver must be able to send feedback to the sender in order to  complete  the  process.    Otherwise,  the  communication  transaction  fails. Schramm’s model, which is a two-way communication model, revolves around these principles.
      </p>

      <p>
        The process goes on starting from the sender (source)  who encodes the message  transmitted  to  the  receiver  which  he  interprets;  decodes  a  message (feedback)  to  be  sent  back  to  the  source  who  in  turn,  decodes  and  interprets  
        the information sent.  
      </p>

      <p>
        <strong>C. Transactional Model</strong> Communication is dynamic. It has a complex nature. It takes place among individuals at any given time with any given subject. However, there are tendencies that barriers would interfere which may create a sudden 
        impact and change in the processing of information.
      </p>

      <p>
        In a classroom setting, for example, you are being grouped into five or six members for an activity.  Your task is to give an opinion or reaction to the closure of the  biggest  television  network  in  the  Philippines.    Each  of  you  expresses  
        your thoughts regarding the matter.  While having that activity, you also heard the JHS graders  having  their  dance  practice  for  the  upcoming  event.      That  noise  did  not interrupt your discussion as you give your own views.  This situation 
        is an example of a transactional approach. 
      </p>

      <p>
        The  <i>communicator</i>  (source)  <i>encodes</i>  the  <i>message</i>  and  transmits  it through a <i>channel</i>.  The message transmitted may be affected by the <i>noise</i> (barrier).  The <i>receiver</i> (recipient of the message) <i>decodes</i>, 
        processes, and filters the message for understanding and is now ready to give his own <i>feedback</i> to the sender.
      </p>

      <div class="pic">
        <img src="./assets/Eng/transac.png">
      </div>

      <p>
        The transactional model shows a circular process of interaction between the persons involved in the communication, with each one actively participating and sharing  ideas  with  one  another.  They  are  the  communicators  actively  exchanging 
        information and reaction. 
      </p>

      <p>
        <i>Feedback</i> is given freely and deliberately to one another or to all members participating in the communication transaction.  The <i>sender</i> and the <i>receiver</i> may simultaneously exchange roles as <i>communicators</i>.  Since communication is deemed dynamic and progressive, 
        the topic may also change from time to time.  
      </p>

      <p>
        In this concept, the <i>noise</i> or barrier to communication is also taken into consideration  for  it  may  directly  or  indirectly  affect  the  smooth  flow  of communication.  In the event that the message was not clearly conveyed due to the barrier, the communication 
        continues in order to clarify the intended meaning of the sender.    When  the  transmission  is  cut  along  the  way  due  to  the  barrier,  the communicators  work  collaboratively  to  understand  each  other.    Now,  the  sender
      </p>


    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <h2><strong>
        Barriers to Communication
      </strong></h2><br>

      <div class="pic">
        <img src="./assets/Eng/bc1.png">
      </div>

      <div class="pic">
        <img src="./assets/Eng/bc2.png">
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        5 ways to avoid communication breakdown
      </strong></h2><br>

      <p>
        Communication breakdown can cause issues or problems at home, school, and community. There are so many barriers to communication like, physiological, psychological, cultural, and linguistics.  Sometimes some communication barriers are too difficult to solve and this will lead to slowing 
        the progress and efficiency.<br> Here are the possible strategies to avoid communication breakdown: 
      </p>

      <p>
        <strong>1. Have Clarity of thought before speaking </strong>Arrange your thoughts before verbalizing them this can help you communicate much more clearly and succinctly. It's a better idea to say something like, "I've got a few ideas here. Let me go through them one at a time. We can treat each one on its own merit."
      </p>

      <p>
        <strong> 2. Learn to Listen </strong>As simple as it sounds, you’ll be surprised how many people out there don’t know how to listen well.
      </p>

      <p>
        <strong>3. Take Care of your Body Language and Tone</strong> Keep your emotions in check, try to maintain eye contact, and adopt a relaxed tone when conversing with others. 
      </p>

      <p>
        <strong>4. Build up your confidence by asking for feedback and observing others</strong> Focus on improving your skills by practicing in front of those who you may feel more comfortable with. You can also ask those whose advice you value to give you feedback and critique your communication style after a discussion.
      </p>

      <p>
        <strong>5. Communicate Face to Face on the important issues </strong> Having that face to face dialogue means you can convey your point more clearly, with your body language as well as your tone of voice.
      </p>

    </ion-card-content>
  </ion-card>

  <div class="btn1">
  <ion-button shape="round" routerlink="" >
    Les-Quiz!!
  </ion-button>
</div>

</ion-content>
