<ion-header>
  <ion-toolbar style="--background: #06B380;">
    <ion-button slot="start"  fill="clear">
      <ion-menu-button color ="light" style="font-size: 30px;"></ion-menu-button>
    </ion-button>

    <ion-button slot="end" class="btn" routerLink="/home">
      Back
    </ion-button>

   <h3>Filipino Course</h3>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

      <h1 style="text-align: center; font-size: 20px;"><strong>
        Komunikasyon at Pananaliksik sa Wika at Kulturang Pilipino 
      </strong></h1><br>

      <h2><strong>
        Wikang Panturo 
      </strong></h2><br>

      <p>
        Ang  wikang  pambansa  na  itinadhana  ng  batas  ay  gagamitin  bilang  Wikang Panturo.Gagamitin  ito  upang  makatulong  sa  pagtatamo  ng  mataas  na  
        antas  ng edukasyon. Mahalaga ang mabilis na pag-unawa sa tulong ng wikang panturo upang makaagapay  sa  akademikong  pag-unlad.  Magiging  makahulugan  
        ang  pagkatuto gamit ang   wikang panturo. Gaya ng isinasaad sa Probisyong Pangwika ng Artikulo   XIV seksyon 6 ng Saligang-batas ng 1987, kaugnay ng wikang panturo na:
      </p>

      <p>
        Ang  wikang  pambansa  ng  Pilipinas  ay  Filipino.Samantalang  nilinang,ito  ay dapat payabungin at pagyamanin pa salig sa mga umiiral na wika sa Pilipinas at 
        ibang pang mga wika. Dapat magsagawa ng mga hakbangin ang pamahalaan upang ilunsad at  puspusang  itaguyod  ang  Filipino  bilang  midyum  ng  opisyal  na  komunikasyon  
        at bilang wika ng panturo sa sistemang pang-edukasyon.
      </p>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <h2><strong>
        Wikang Opisyal 
      </strong></h2><br>

      <p>
        Tinatawag na Wikang Opisyal ang prinsipal na wikang ginagamit sa edukasyon, sa pamahalaan, sa politika,sa komersiyo at industriya.Ipinahayag naman sa Artikulo XIV seksyon 
        7 ng Saligang-batas ng 1987 na: “Ukol sa mga layunin ng komunikasyon at  pagtuturo,  ang  Wikang  Opisyal      sa  Pilipinas  ay  Filipino  at  hangga’t  walang itinadhana  
        ang  batas,Ingles.” Tinatanggap  din  ang  Ingles  na  isa  sa  wikang  opisyal maliban  sa  Filipino.  Maaari  itong  gamitin  sa  pakikipagkomunikasyon  at  edukasyon. 
        Hangga’t walang batas na nagbabawal gamitin ang Ingles sa nasabing sitwasyon,kaagapay ito ng Filipino bilang Wikang Opisyal.
      </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <h2><strong>
        Gamit ng Wika sa Lipunan 
      </strong></h2><br>

      <p>
        Ang wika ay nagagamit sa iba’t ibang paraan at layunin. Maaari itong gamitin upang magtakda ng isang kautusan, 
        magpalaganap ng kaalaman, kumumbinse ng kapwa na gawin opaniwalaan ang isang bagay, bumuo at sumira ng relasyon, 
        kumalinga sa mga nahihirapan atnasisiphayo, at sa marami pang kaparaanan. Ayon nga sa Australyanong linggwista 
        na si M.A.K. Halliday, may iba’t ibang gamit ang wika. Tinalakay niya ang mga ito sa kanyang “systemic functional 
        linguistic model.” Nasa ibaba ang 7 gamit ng wika at halimb awa ng mgaito.
      </p>

      <img src="./assets/Fil/gamitNgWika.png">
      <img src="./assets/Fil/gamitNgWika1.png">
      <img src="./assets/Fil/gamitNgWika2.png">

      <p>
        Kapansin-pansin na ang mga halimbawang ginamit ay pawang angkop sa sitwasyon ngmga bata. Bunsod ito ng paliwanag ni Halliday na ang mga nabanggit na gamit ng 
        wika ay makikita sa mga bata, at sa kanyang pananaliksik, unti-unting “umuunlad” ang paggamit ng mga tao sa wika habang tumatanda, kaya’t habang tumatagal ay 
        unti-unting naghahalu-halo ang mga gamit ng wika sa iba’t ibang sitwasyon. Halimbawa, ang pagpapahayag ng datos aymaaaring may kahalong pagpapahayag ng damdamin 
        (kaya’t naghahalo ang gamit na representasyonal at personal).
      </p>

     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      
      <h2><strong>
        Kahulugan ng Homogenous at Heterogenous na Wika  
      </strong></h2><br>

      <p>
        Ang salitang homogenous ay nanggaling sa salitang Griyego na "homo" na ang ibig sabihin ay pareho at salitang "genos" na ang ibig sabihin ay uri o yari.  Ang  
        homogenous  na  wika  ay  ang  pagkakatulad  ng  mga  salita.  Bagaman magkakatulad, nag-iiba ang kahulugan dahil sa pagbigkas at intonasyon. Ang wika ay midyum 
        ng pakikipagtalastasan. Ginagamit ito upang epektibong makapagpahayag ng damdamin at kaisipan. Kakambal ng wika ang kulturang pinagmulan nito,  kung kaya  mahalaga  
        rin ang  papel  na  ginagampanan  ng wika sa pagpapalaganap at pagpapayabong ng kulturang pinanggalingan nito. Ang  wika ay nahahati sa dalawa ang homogeneous na 
        kalikasan nito at ang heterogenous na kalikasan nito.
      </p>

      <p>
        HETEROGENEOUS NA KATANGIAN NG WIKA<br>1. Ang heterogeneous na kalikasan ng wika ay tumutukoy sa pagkakaiba-iba ng wikang ginagamit ng mga pangkat ng tao dahil sa pagkakaiba 
        nila ng edad, kasarian, tirahan, gawain, at iba pang salik.<br>2. Ito ay ang  kalikasan ng wika ay ang pagkakaiba-iba ng wikang ginagamit ng iba’t ibang indibidwal at pangkat 
        na may magkakaibang uring pinagmulan, gawain, tirahan, interes, edukasyon, at iba pang mga salik. <br> 3.  Ayun sa  mga dalubhasa, ang  wika  ay  binubuo  ng  isang pangkat  
        ng  tao upang  magamit  at  tumugon  sa  kanilang  partikular  na  pangangailangan. Dahil magkakaiba ang mga tao at ang kinabibilangan ng bawat isa, iba’t ibang anyo rin ng 
        wika ang umusbong.<br>4.Sa heterogeneous na katangian ng wika ay may dalawang uri o barayti: Ito ay ang permanente at pansamantala.<br>
      </p>

      <p>
        Barayting Permanente<br> a. Dayalekto- Ito ang barayting batay sa pinanggalingang lugar, panahon, at katayuan sa buhay ng isang tao. b. Idyolek-Ito ang barayting kaugnay ng 
        personal na kakanyahan ng bawat indibiduwal na gumagamit ng wika.<br> 
      </p>

      <p>
        Barayting Pansamantala<br> a.  Register-Ito  ang  barayting  bunga  ng  sitwasyon  at  disiplina  o  larangang pinaggagamitan ng wika. <br> b.  Istilo-Ito  ang  barayting  
        batay  sa  bilang  at  katangian  ng  kinakausap,  at relasyon ng nagsasalita sa kinakausap<br> c. Midyum-Ito ang barayting batay sa pamamaraang gamit sa komunikasyon, 
        maaaring pasalita o pasulat.
      </p>

      <p>
        Mga halimbawa ng heterogeneous na katangian ng wika<br> 1. Dayalektong heograpikal ay may ibat-ibang katangian ng wika mayroong Tagalog Batangas, Tagalog Laguna, Tagalog  Quezon. 
        Tagalog ang pangunahing wika ng Timog katagalugan ngunit bawat lugar dito
      </p>

      <p>
        Dayalektong Temporal Halimbawa:<br> Ang Probinsyano na pelikula mayroon na noon ngunit may bagong pelikulang sumisikat  ngayon  ang  mga  manunulat  nito ay  magkaiba at  ang barayti 
        ng wika nito ay magkaiba sapagkat ito ay isinulat sa magkaibang panahon.
      </p>

      <p>
        Dayalektong Sosyal  Halimbawa <br> Uri:   Karaniwang  naiuugnay  sa  masa  ang  mga  salitang  balbal  gaya  ng utol,ermats,dedma, epal <br>Edad: Ang tawag ng matatanda sa salamin sa mata 
        ay antipara samantalang ang tawag sa mga kabataan ngayon shades<br> Kasarian:  Hanggang  ngayong  patuloy  pa  rin  paggamit  ng  salitang  jowa (karelasyon) jubis (Mataba), gander (maganda) 
        at iba pang salita sa Gayspeak.
      </p>

      <p>
        IDYOLEK<br>  Ito ang barayting kaugnay ng personal na kakanyahan ng bawat indibiduwal na gumagamit ng wika.
      </p>

      <p>
        Bukod  sa  panlipunang  salik,  nakikilala  rin  ang  pananalita  ng  isang indibiduwal batay sa kaniyang bigkas, tono, kalidad ng boses, at pisikal na katayuan.
      </p>

      <p>
        Register<br>  Ang register sa kalusugan ay  iba sa palakasan
      </p>

      <p>
        Estilo <br> Kapag   iyong  nakasalubong  ang  isang  kaibigan  ay  maari  mong  batiin  sa pahayag na "Hoy" kamusta ka na? Kapag bumisita  ka sa iyong lolo at lola ay binabati natin sila ng kumusta po kayo? 
      </p>

      <p>
        Midyum <br>  Ang  mga  terminong gaya  ng dalumat, dalisay  at kaatiran  ay   mababasa  sa mga disertasyon at ibat ibang  akademikong materyal na nakasulat, ngunit bihirang  ginagamit  ang  mga  ito  pang  
        araw-araw  na  pasalitang  pakikipag-usap.
      </p>

      <p>
        HOMOGENEOUS NA KATANGIAN NG WIKA<br>1. Ang wika ay nagtataglay ng mga pagkakatulad.<br>  2. Ang wika ay may mga homogeneous na kalikasan.
      </p>

      <p>
        Arbitraryo  <br>Halimbawa: Ang  wika  ay  pinagkakasunduan.  Nagkakaunawaan  sa  kahulugan  ng  mga salita ang mga gumagamit nito. Hindi dinidikta ng mismong itsura at tunog ng  salita  ang  kahulugan,  kung  
        kaya  masasabing  arbitraryo  ang  wika. Halimbawa nito ay kung paanong ang salitang Tagalog na "kamay" ay "ima" sa  wikang  Ilokano,  "kamot"  naman  sa  Bikolano,  at  "gamat"  naman  sa Kapampangan.
      </p>

      <p>
        Dinamiko  <br>Halimbawa : Nanghihiram  din  tayo  ng  mga  salitang  dayuhan  at  nagbibigay  ng  sariling kahulugan dito. Halimbawa nito ay kung paanong ang salitang "gimmick" na nasa  wikang  Ingles ay  may 
        kahulugang  "pakulo o paraan  ng  pagpukaw  ng atensyon."  Habang  ngayon  nagkaroon  ito  ng  kahulugan  na  "pamamasyal kasama ng mga kaibigan." 
      </p>

      <p>
        Bahagi ng kultura<br> Halimbawa: Sa wikang Arabe ay mayroong iba’t ibang katawagan para sa mga uri ng kamelyo. Ang mga salitang ito ay wala sa ating wika dahil hindi bahagi ng  kulturang  Pilipino  ang  paggamit  ng  mga  kamelyo.  
        Kung  gayon,  hindi maisasalin sa Filipino ang mga salitang Arabe para sa salitang kamelyo dahil walang katumbas ang mga salitang ito sa ating wika. 
      </p>

      <p>
        May sariling kakanyahan<br> Halimbawa:  Ang  wikang  Nihonggo  ay  sumusunod  sa  estrukturang  "paksa-layon ng pandiwa-pandiwa" samantalang ang Ingles ay "paksa-pandiwa-layon ng pandiwa." 
      </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Kahulugan ng  Komunikasyon
      </strong></h2><br>

      <p>
        Napabibilis at napababagal ang daloy ng komunikasyon depende sa paghahatid at pagtanggap  ng  mensahe.  May  iba’t  ibang  sangkap  at  proseso  ang  komunikasyon sang-ayon  sa  nilalayon  nito.    Nakasalalay  sa  bawat  sangkap  
        at  proseso  ng komunikasyon ang pagtatagumpay at  pagkabigo ng paghahatid ng  mensahe. May mga sitwasyon na ang iniisip ng tagapaghatid ng mensahe ay may ibang kahulugan sa  tagatanggap  nito  na  siyang  nagiging  dahilan  nang  
        hindi  pagkakaunawaan. Pagsilang ng bata at umuha ay nagsimula na siyang makipag-ugnayan sa mundo. Kapag  narinig  ito  ng  ina  ay  siguradong  tutugunan  dahil  nauunawaan  niyang kailangan siya ng anak. Ito ang komunikasyon. 
        Nagaganap ito sa pang-araw-araw na  buhay  ng  isang  tao.  Ang  komunikasyon  ay  pagpapahayag  ,  paghahatid  ,  o pagbibigay  ng  impormasyon  sa  mabisang  paraan  .  Isa  itong  pakikipag-ugnayan, pakikipagpalagayan,  o  
        pakikipag-unawaan  .  Ito  rin  ang  proseso  ng  pagbibigay  at pagtanggap,  nagpapalipat-lipat  sa  mga  indibidwal  ang  mga  impormasyon, kaalaman, kaisipan, impresyon, at damdamin. <br>

        Ayon sa pag-aaral ng tagapangulo ng De La Salle University na si Josepina Mangahis, et  al.  ang  komunikasyon  ay  proseso  ng  pagpapahiwatig  at  pagpapahayag  ng mensahe tungo sa pagkaunawa at pakikipagdiskurso ng  isa o  
        higit pang kalahok  Mga Tala para sa Guro Tandaan:  Tiyaking  nauunawaan  at  masunod  ng  mga  mag-aaral ang  mga  panuto  sa  pagsasagot.  Makatutulong  kung  basahin munang mabuti ng mga mag-aaral ang lahat ng bahagi at panuto 
        bago  ito  simulan.  Ipinaaalala  rin  ng  guro ang  pagpapahalaga sa katapatan sa pagsasagot at pagwawasto nito. gamit ang mga makrong kasanayan – pakikinig, pagbasa, pagsasalita, pagsulat, at panonood. ( Ayon kay Sikhay,  et.al. 
        at sa kanilang aklat noong 2003 ) Komunikasyon o pakikipagtalastasan  ang  pundasyon  ng personal  na  relasyon ng isang tao sa kanyang kapwa (  E. L. Pena, et al. at sa kanilang aklat na Kanlungan  ).  Isang  proseso  ito  ng  
        paglikha at  pagbabahagi  ng  impormasyon at  kaalaman  ng isang tao sa pormal o impormal na paraan.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <p>
        <b>Mga Simulain ng Komunikasyon</b><br>o Ang komunikasyon ay nagsisimula sa sarili <br>o Ang komunikasyon ay nangangailangan ng ibang tao <br>o Ang  komunikasyon  ay  binubuo  ng  dimensyong  pangnilalaman  at relasyonal o <br>Ang komunikasyon ay 
        komplikado <br>o Ang komunikasyon ay gumagamit ng simbolo <br>o Ang komunikasyon ay nangangailangan ng kahulugan <br>o Ang komunikasyon ay isang proseso
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <p>
        <b>Mga Modelo ng Komunikasyon</b> <br> 1. Komunikasyon bilang aksyon – ang pinagmulan ng mensahe (sender) ay naghahatid ng mensahe tungo sa tagatanggap (receiver)<br> 2. Komunikasyon bilang interaksyon – nagkakaroon ng pagpapalitan ng impormasyon sa 
        dalawang tao  <br>3. Komunikasyon bilang transaksyon – pagbabahaginan ng kahulugan at unawaan sa pagitan ng isa o higit pang tao
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        <b>Antas ng Pormalidad sa Komunikasyon</b> <br>1. Oratorical o frozen style – ginagamit sa pagsasalita sa harap ng publiko na may malaking bilang ng manonood.<br> 2. Deliberative  style  –  ang  estilong  ginagamit  sa  tiyak  na  bilang  ng manoood na 
        kadalasang ginagawa sa loob ng klasrum o mga forum <br>3. Consultative style – tipikal na pakikipagtalastasan na nangangailangan  ng pormal na pananalita sa pamamagitan ng pagpili ng mga salitang gagamitin. Kadalasang makikita sa opisina at mga pulong. 
        <br>4. Casual  style  –  karaniwang makikita  sa  usapan  ng  makakapamilya o magkaibigan. 5. Intimate  style  –  nagaganap  sa  pagitan  ng  malalapit  na  kaibigan, kapamilya o karelasyon. 

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        <b>Uri ng Komunikasyon Ayon sa Konteksto</b> 
        <br>o Komunikasyong pampubliko.  Ang simpleng  pinagmulan  ng  mensahe ay  nagpapadala  ng mensahe sa iba’t ibang bilang ng tagatanggap  na maaaring sagot-tanong na pidbak. <br>o Komunikasyong pangmasa. Ang paggamit ng  mensahe sa  pagbuo ng kahulugan sa isang 
        namamagitan na sistema sa pagitan ng tagapagpa-dala  patungo sa malaking bilang ng mga di nakikitang tagatanggap. Halimbawa ang telebisyon. <br>o Komunikasyong  computer  mediated.  Ang  komunikasyong  pantao  at impormasyong ibinabahagi ng <i>communication networks.</i>
      </p>
    </ion-card-content>
  </ion-card>

  <div class="btn1">
    <ion-button shape="round" routerlink="" >
      Les-Quiz!!
    </ion-button>
  </div>
</ion-content>
