<ion-header>
  <ion-toolbar style="--background: #06B380;">
    <ion-button slot="start" style="--background: #06B380;" fill="clear">
      <ion-menu-button color ="light" style="font-size: 30px;"></ion-menu-button>
    </ion-button>

    <ion-button slot="end" class="btn" routerLink="/home">
      Back
    </ion-button>

   <h3>Science Course</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <h1 style="text-align: center; font-size: 20px;"><strong>
        Earth and Life Science
      </strong></h1><br>

      <h2><strong>
        Earth as a unique planet
      </strong></h2><br>

      <p>
        Earth is a unique planet. It is the only planet capable of sustaining life because of  the right  combination  of  elements,  molecules and ions that  react  under  the right physical conditions to make up the processes supportive to life. It has an atmosphere that serves as a 
        thermostat that is necessary to regulate its surface temperature. It also  contains  the  right  amount  of  liquid  water  and  oxygen  that  serve  as  essential compounds  needed  in  the  biological  processes  such  as  cellular  respiration  and photosynthesis. 
        Earth’s scientists describe this planet as a life support system. It is in the perfect location in the solar system. The mechanism of its rotation and revolution are well-synchronized to bring about changes in the weather and climate. Its tilt relative to the orbital 
        plane promotes seasons as we know it.
      </p>

      <div class="pic">
        <img src="./assets/Sci/earth.png">
      </div>

      <p>
        In the Milky Way galaxy alone, there are about 1 billion planets. However, only the earth is habitable. Other planets may be too hot or too cold. They may also be too big or too small. Other planets may not have an atmosphere or a magnetic field or may not be in an orbit 
        at all. Fortunately, planet earth possesses all the features and characteristics that make it habitable for all living forms. Let us go through with each one of earth’s characteristics
      </p>

      <p>
        <b>Earth’s location</b><br> Earth is the third planet in the solar system. It is considered to be one of the inner planets next to Venus. Its distance from the sun is about 93 million miles and it takes about 500 seconds for sunlight to reach the earth’s surface. This distance 
        from the sun is enough to support life. As we learned in our previous science lessons, the producers, or organisms that manufacture their own food utilize the energy from the sun and convert it into chemical energy that marks the beginning of food chains and complex  food  webs.  
        Below  is  the  chemical  equation  called  photosynthesis  which utilizes solar energy, converting it into food that will be made available to life forms. The distance between earth and sun is strategic enough to put this essential chemical equation to work.  
      </p>

      <div class="pic">
        <img src="./assets/Sci/balance.jpg">
      </div>

      <p>
        If the earth had been too close to the sun, its surface would have been dry and lifeless just like mercury and Venus. If it had been too far like Uranus and Neptune, it would have been cold and dark. Earth’s tactical location also prevents it from planetary collisions. The fact 
        that Jupiter, the biggest planet in the solar system is our neighbor puts planet earth in an advantage as far as life is taken into consideration. Between Mars and Jupiter are asteroid belts. Since Jupiter is so massive, its gravity is so strong that it pulls asteroids and other 
        space debris towards itself, warding it away from the earth.
      </p>

      <p>
        <b>Earth’s atmosphere</b><br> The atmosphere is the gaseous layer that envelops the earth. It regulates the planet’s surface temperature. Most of the element that makes up the atmosphere is nitrogen (about 78%). If we compare the earth to an apple, the atmosphere is relatively 
        the size of its peel. However, due to its cooling mechanisms, it protects the living things to be directly affected with harmful radiation. <br><br> O3 ---> O2 + O1 <br><br>
      </p>

      <p>
        Photodissociation  is  the  process  by  which  ozone  molecules  (O3)  in  the stratosphere is broken down (decomposition reaction) into elemental oxygen (O) and diatomic oxygen (O2) as it absorbs high energy solar radiation and then convert it into low energy radiation. This 
        way, harmful high-energy radiation will not go directly into the earth’s surface.
      </p>

      <p>
        <b>Earth’s size and mass</b><br> The size of the earth also plays a vital role in keeping its life support system afloat. The size of a planet is directly related to its gravitational pull. The acceleration due to gravity helps the planet maintain its atmosphere. If the earth 
        had been bigger than  it  is,  its  gravity  would  have  been  stronger  to  the  point  of  not  keeping  an atmosphere around it. If it had been too small on the other hand, it would not have been  able  to  sustain  a  gaseous  layer  since  its  gravity  is  too  weak.  
        Earth  interacts gravitationally with the sun. Its gravity as a result of its mass, also keeps the moon along its orbit. The moon, as the only natural satellite of Earth, plays a vital role in the existence of all life forms.
      </p>

      <p>
        <b>Earth’s Magnetic Field </b><br> Our planet is a big ball of magnet. Its geographic north serves as its magnetic south and its geographic south serves as its magnetic north. The region around earth that is dominated by magnetic field is called magnetosphere which extends to 
        about 65,  000  km  in  space.  Its  magnetic  properties  are  the  result  of  its  internal  activities involving electric current flowing in the molten core made possible by its rotation. The inner core is the solid layer of the earth and is made predominantly of iron. Since 
        it is compressed by pressure due to earth’s gravity, it is solid in form. The outer core on the other hand, is liquid in form and is made up predominantly of iron and nickel. 
      </p>

      <p>
        As the earth spins, the flow of liquid iron and nickel in the outer core produces electric current,  thereby producing  magnetic  field. The invisible  magnetic field  then passes through the earth’s layer and into the space. This magnetic field shields earth from the harmful surge 
        of charged particles from the sun called solar winds and other space weather. Most of the particles of solar winds cannot cross the earth because it gets deflected by the magnetic field. Without the magnetic field, earth would have been as hot and lifeless as Mars.
      </p>

      <p>
        <b>Presence of water</b><br> Life  as  we  know  it,  is  impossible  without  a  biologically  essential  compound called  water  (H2O).  Three  fourths  of  the  Earth’s  surface  are  covered  with  water. Scientists  have  found  out  that  there  are  other  planets  of  the  
        universe  that  contain water. However, this compound may exist as ice or vapor alone. On earth however, water exists as gas forming clouds, as liquid in the form of oceans and lakes and as solid in the form ice caps. This is due to hydrologic cycle. Earth has the right amount of water 
        to keep its habitability. Water has a cooling effect due to its heat capacity. It has the capacity to absorb heat without raising its own temperature. As a result, life on earth will be benefited by the cooling effect of water.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Four Subsystems of the Earth
      </strong></h2><br>

      <div class="pic">
        <img src="./assets/Sci/subsystem.png">
      </div>

      <p>
        <b>Geosphere</b><br> It is the solid sphere of the earth. This is where different geologic processes such  as  volcanic  activity,  formation  of  mountains,  volcanoes  and  other  geologic structures take place. The lithosphere is a part of the geosphere that is composed of the 
        solid, outermost part of the planet. It is where tectonic plates that move, are found, causing the ground to move through vibrations of energy from the mantle.
       </p>

       <p>
        <b>Hydrosphere</b><br> The hydrosphere is composed of all the waters on earth such as liquid water found in oceans, lakes and streams, polar ice which is solid in form, and water vapor that results from evaporation of liquid water. Earth is sometimes called the blue planet due to the presence 
        of liquid water. Oceans occupy almost 71 percent of the earth’s water. The other fractions are distributed as polar ice and water vapor. Energy from the sun heats up the ocean water unevenly due to the difference in the angle of sun ‘s rays  across  different  portions  of  the  earth.  This  
        causes  difference  in  ocean temperature. Specifically, the ocean water near the equator is warm while the ocean water near the poles is cold. The difference in the temperature of the planet’s water leads to the difference in density which causes water to move by means of convection. The 
        movement of matter as a result of difference in density is called convection current which distributes energy in the ocean.
       </p>

       <p>
        <b>Atmosphere</b><br> The atmosphere is the gaseous part of the Earth composed of several trace gases necessary to support the existence of all living components such as plants and animals. The atmosphere is divided into layers according to differences in the pattern of  temperature  as  one  
        goes  to  higher  altitude.  From  the  bottom,  these  are  the troposphere, stratosphere, mesosphere and thermosphere. Though the atmosphere may be a very thin layer of the earth when compared to the earth’s interior, it plays a vital  role  in  maintaining  the  planet’s  temperature.  It  
        acts  as  a  thermostat.  Ozone molecules  in  the  stratosphere  absorb  high  energy  radiation  by  means  of photodissociation.  Weather  occurs  in  the  troposphere.  Atmosphere  plays  a  role  in weathering of rocks making the earth dynamic. The sun unevenly heats the air which leads 
        to the movement of air molecules. Cold air sinks at bottom of the atmosphere where most life forms are found. This is due to its high density. Hot air, on the other hand  rises  up  due  to  its  low  density.  This  movement  distributes  energy  in  the atmosphere.  It  is  the  movement  
        of  air  in  the  atmosphere  that  causes  weather and climate. 
       </p>

       <p>
        <b>Biosphere</b><br> The  biosphere  encompasses  all  life  forms  on  earth  from  the  smallest phytoplankton  to  the  biggest  mushroom.  Organisms  comprising  the  simplest cyanobacteria to the complex eukaryotes adapt to their natural environment leading to  survival.  Even  in  extreme  
        conditions  such  as  extreme  heat  and  the  absence  of water,  some  unique  plants  and  animals  thrive  by  means  of  their  evolutionary characteristics.  The  atmosphere  is  filled  with  life  in  the  form  of  Philippine  eagle, monarch  butterfly,  vampire  bat,  peregrine  falcons,  
        and  some  flying  insects.  The hydrosphere is teeming with life as well just like the blue whale, the orca, the starfish and the sea cow. In fact, most of the organisms on earth are found in water.
       </p>

       <p>
        Most of the deep oceans are still uncharted where a host of organisms are yet to be discovered. The lithosphere abounds with life in the form of lush forests and a variability of life forms like the pygmy marmoset, Asian elephant, jerboa, and ostrich. The  main  source  of  energy  for  all  life  
        forms  is  the  sun.  Through  photosynthesis, producers manufacture their own food to produce carbohydrates.  The producers or autotrophs are consumed by the consumers in a food chain. A series of food chain comprises a food web. This illustrates that matter and energy flow within the system. An 
        interlinking food chain is called food web. The constant flow of energy on earth is what allows life to perpetuate.
       </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><strong>
        Properties of  Rock-forming minerals 
      </strong></h2><br>

      <p>
        In our previous lesson, we learn about the four subsystems of the earth. The natural balance that exists among the four subsystems allows living things to survive which  continue  to  interact  among  each  other  and  with  the  environment.  A  lot  of important  raw  materials are  found  in  the 
        environment.  Some  of  which  are  mineral-based. A mineral is defined as a naturally occurring, usually inorganic solid with distinct chemical composition and an orderly crystalline structure. In order to test whether a sample of matter is a mineral, scientists need to assess the sample according 
        to the aforementioned characteristics. A <b>silicate mineral</b> contains silicon and oxygen and may  consist  of  a  metal.    Examples  are  feldspar,  orthoclase  and  plagioclase.  A <b>nonsilicate mineral</b>  is  one that  does  not contain  silicon  and  oxygen.  Examples  of which are gypsum, galena, and 
        corundum. 
      </p>

      <p>
        Every mineral is recognized according to its properties that exist as a result of its chemical composition. Such properties may be identified subjectively or objectively such as by running a test. The following are the properties of minerals. 
      </p>

      <p>
        <b>Color</b><br> The property of mineral that can easily be observed is its color.  In our previous science  lessons,  we  learned  that  color  is  the  result of  the  reflection  of  visible  light. Color is a useful property of minerals. Corundum, a colorless mineral is composed of aluminum and oxygen atoms. 
        Corundum that contains traces of chromium, forms a red gem called ruby. Another type of corundum is sapphire, a blue colored gem as a result of traces of iron and titanium. However, color alone may not be sufficient enough in identifying minerals since some minerals may have almost the same color though they differ 
        in their chemical structures.
      </p>

      <p>
        <b>Luster </b><br> The ability of a mineral to reflect light from its surface is called luster. Metallic minerals have metallic luster. This type of  luster is manifested by the way  polished metals reflect light. While nonmetallic minerals have nonmetallic luster. Nonmetallic luster is classified into four types of 
        luster which are glassy luster (like quartz), waxy luster, pearly luster (like mica), and brilliant luster (like diamond).
      </p>

      <p>
        <b>Streak </b><br> Streak refers to the color of mineral in powdered form. The color of mineral’s powdered form may differ from its color in solid form. A mineral is rubbed against an unglazed ceramic tile to  observe  its  streak. Metallic minerals have streaks that  are dark in color. For example, the streak of a 
        gold-colored pyrite is black in color. On the other hand, the streak of nonmetallic minerals is generally light in color.
      </p>

      <p>
        <b>Cleavage and fracture</b><br> Cleavage refers to the ability of a mineral to split along a weak plane forming flat surface. Calcite is an example of mineral that has cleavage in three directions. On the  other  hand,  fracture  refers  to  the  capacity  of  a  certain  mineral  to  break  along curved surfaces. 
        Quartz is an example of mineral that has fracture.
      </p>

      <p>
        <b>Density</b><br> Density is defined as the compactness of a sample of matter. It is calculated as mass divided by volume. Different samples of mineral of the same size differ in mass because of the different elements that  make up such minerals.  Minerals containing heavy metals like uranium, lead, silver and gold have 
        densities that range from 7 to 20  g/cm3.The  periodic  table  of  elements  shows  that  each  element  has  a  unique density. 
      </p>

      <p>
        <b>Hardness </b><br> The tendency of a mineral to resist abrasion (scratching) is termed as hardness. The Mohs scale of hardness shows the arrangement of minerals from the softest (talc) to the hardest (diamond). Hardness is the result of intermolecular bonding. The Mohs scale  of  mineral  hardness  arranges  minerals  
        according  to  their  scratch  resistance. From the softest to the hardest mineral, the sequence of the Mohs scale is as follows: Talc,  Gypsum,  Calcite,  Fluorite,  Apatite,  Feldspar,  Quartz,  Topaz,  Corundum,  and Diamond. Talc is the softest mineral while diamond is the hardest
      </p>

      <p>
        <b>Reaction with acids </b><br> Minerals that contain carbonate (CO32-) react with acid. For example, a sample of calcite reacts with dilute hydrochloric acid (HCl).
      </p>

      <p>
        <b>Fluorescence </b><br> The ability of minerals to glow when bombarded with ultraviolet light is called fluorescence.  In this condition, minerals may not glow under ordinary light. This is because such minerals are selective of the wavelength of light that causes it to glow. Calcite possesses this property.
      </p>

      <p>
        <b>Phosphorescence </b><br> Some minerals would continue to glow even after a source of ultraviolet light has  been  turned  off.  This  ability  is  called  phosphorescence.  The  ore  of  lithium possesses this characteristic.
      </p>

    </ion-card-content>
  </ion-card>

  <div class="btn1">
    <ion-button shape="round" routerlink="" >
      Les-Quiz!!
    </ion-button>
  </div>

</ion-content>